<!DOCTYPE html>
<html>
<head>
	<title>Elevator</title>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" href="styles/doc-style.css"/>
  <script src="http://cdn.staticfile.org/lodash.js/4.17.2/lodash.js"></script>
  <script src="scripts/jquery-1-11-1.js"></script>
  <script src="scripts/g2.js"></script>
  <script src="scripts/daily-events-production.js"></script>
  <script src="scripts/daily-each-events.js"></script>
</head>
<body class="container">
  <div class="navbar navbar-default">
    <a class="navbar-brand" href="#c0">Elevator</a>

    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#c0">日产量级 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#c2">逐点量级 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">其它看板</a>
      </li>
    </ul>
  </div>

  <section id="daily-events-production">
    <p class="bg-success">日产埋点量级监控</p>
    <div id="c0"></div>
  </section>

  <section id="each-event-count">
    <p class="bg-success">逐个埋点量级监控</p>
    <div id="c2"></div>
  </section>

</body>
</html>
